/* Xoxzo v3.0 using Bootstrap4 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*
Main font : #35313b;
Sub font : #505050;
Inverse font : #d2d2d2;
Main blue : #3f7cfc;
Background gray : #f3f3f3;
*/

html {
  position: relative;
  min-height: 100%;
}

html:lang(ja) {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  background-color: white;
  color: #35313b;
  margin-bottom: 175px;
}

body:lang(ja) {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-bottom: 170px;
}

.navbar .nav-link {
  font-size: .9rem;
}

.navbar .navbar-nav .nav-link.btn-point {
  color: white;
  padding: .5rem .75rem;
  margin: 1rem 0;
}

.navbar .navbar-nav .nav-link.btn-point:hover {
  color: white;
}

.navbar button {
  border: none;
}

.navbar button:focus {
  outline: none;
}

.navbar .dropdown-menu {
  font-size: .9rem;
  min-width: auto;
}

.navbar .dropdown-menu a {
  color: #777;
}

.navbar .dropdown-menu a:hover {
  color: #ff7259;
  background: none;
}

.navbar-brand img {
  width: 100px;
  margin: 2px 0;
}

.navbar-brand span {
  color: #ddd;
  font-size: 1rem;
  margin-left: 6px;
}

.main-nav {
  background-color: #132d4e;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
}

a:focus {
  outline: none;
}

.link-point {
  color: #ff7359;
}

.link-point:hover {
  color: #fe4b4b;
}

.link-underline {
  color: #777;
  border-bottom: 2px solid #80baff;
}

.link-underline:hover {
  text-decoration: none;
  color: #80baff;
}

.btn-lg {
  padding: .75rem 2.5rem!important;
}

.btn-md {
  padding: .75rem 1.5rem!important;
}

.btn-small {
  padding: .5rem 1.5rem;
}

.btn-white {
  color: #ff7359;
  background-color: white;
  border: 1px solid white;
}

.btn-white:hover {
  color: #ff7359;
  box-shadow: inset 0 0 0 30px rgba(255, 133, 106, 0.12);
  border-color: rgba(255, 133, 106, 0.12);
}

.btn-white:focus {
  box-shadow: inset 0 0 0 30px rgba(255, 133, 106, 0.12);
  border-color: rgba(255, 133, 106, 0.12);
}

.btn-point {
  color: white;
  background-color: #ff7359;
  border: 1px solid #ff7359;
}

.btn-point:hover {
  color: white;
  box-shadow: inset 0 0 0 30px #fe4b4b;
  border-color: #fe4b4b;
}

.btn-point:disabled {
  color: white;
  background-color: #ff8973;
}

.btn-point:focus {
  box-shadow: inset 0 0 0 30px #fe4b4b;
  border-color: #fe4b4b;
}

.btn-outline-point {
  color: #ff7359;
  background-color: transparent;
  border-color: #ff7359;
}

.btn-outline-point:hover {
  color: #fe4b4b;
  box-shadow: inset 0 0 0 30px rgba(255, 133, 106, 0.12);
}

.btn-outline-point:focus {
  box-shadow: inset 0 0 0 30px rgba(255, 133, 106, 0.12);
}

.btn-gray {
  color: #777;
  background-color: transparent;
  border-color: #999;
}

.btn-gray:hover {
  color: #555;
  box-shadow: inset 0 0 0 30px rgba(128, 128, 128, 0.12);
}

.btn-gray:focus {
  box-shadow: inset 0 0 0 30px rgba(128, 128, 128, 0.12);
}

.bg-mid {
  background-color: #f2f5f9;
}

.bg-deep {
  background-color: #132d4e;
  color: white;
}

.bg-deep h2 {
  color: #ddd;
}

.br-0 {
  border-radius: 0!important;
}

main {
  padding-top: 56px;
}

/* Footer */
footer {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  background-color: #4b4d51;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  padding: 50px 0;
}

footer p {
  line-height: 1.5rem;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

footer a i {
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 40px!important;
}

footer .fa-instagram {
  font-size: 1.55rem;
  font-weight: bold;
}
/* End footer */

.underline-none:hover {
  text-decoration: none;
}

.index-left {
  padding: 0;
}

.article-list {
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}

.article-list:first-child {
  border-top: none;
}

.article-list .article-title {
  font-family: 'Lato', 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  color: #35313b;
  font-weight: bold;
}

.article-list .article-area:hover .article-title {
  text-decoration: underline;
  color: #35313b;
}

.article-list .article-area p {
  color: #a9a9a9;
  margin-bottom: 1.25rem;
}

.article-list .article-category {
  font-size: 1rem;
}

.article-list .article-info {
  color: #777;
  font-size: .85rem;
}

.article-thumbnail img {
  width: 100%;
  border-radius: .25rem;
}

.article-desc {
  text-align: center;
  margin-top: 1.25rem;
}

.sidebar-menu {
  padding: 1.5rem;
  background: #d6eaff;
  border-radius: .25rem;
}

.sidebar-menu h3 {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #809fc1;
  padding-bottom: .75rem;
}

.sidebar-menu a {
  color: #35313b;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  line-height: 2rem;
}

.page-link {
  color: #ff728d;
}

.page-link:hover {
  color: #ff7359;
  background: rgba(255, 133, 106, 0.12);
}

.page-link:focus {
  box-shadow: none;
}

.badge-gray {
  color: #ffffff;
  background-color: #999;
}

.featured h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.featured h1 a {
  color: #36313b;
}

.featured h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0c498e;
  margin-bottom: 1rem;
}

.featured img {
  max-width: 100%;
}

.bd-gray {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.editor {
  background: #354d69;
}

.editor h2 {
  color: #ebf5ff;
}

.editor .curated-post a {
  border: 1px solid #6e8399;
  background: #e8f3ff;
}

.editor .curated-post .card-body {
  border-top: 1px solid #afc6df;
}

.content .article-header {
  padding: 42px 0 40px;
  background: #354d69;
  color: white;
}

.content .article-header .article-category {
  margin-bottom: .5rem;
  font-size: 1rem;
}

.content .article-header .article-category a {
  color: #9bbce0;
}

.content .article-header .article-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
}

.content .article-header .article-info {
  color: #9bbce0;
  font-size: .9rem;
}

.content .article-header .article-info a {
  color: #9bbce0;
  text-decoration: underline;
}

.content .article-header .article-translation a {
  color: #122d4e;
  padding: 2px 10px;
  border-radius: 5px;
  background: #d1d6dc;;
  font-size: .9rem;
  text-decoration: none;
}

.content .article-header .article-translation a:hover {
  background: white;
}

.content .article-body { 
  padding: 40px 0;
}

.content .article-body img {
  max-width: 100%;
  margin: 5px 0;
}

.article-content a {
  color: #ff7259;
  font-weight: bold;
}

.article-content a:hover {
  text-decoration: none;
  color: #80baff;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

.article-content h1 a, .article-content h2 a, .article-content h3 a, .article-content h4 a, .article-content h5 a {
  font-weight: bold;
  color: #122d4e;
  border-bottom: 2px solid #80baff;
}

.article-content h1 a:hover, .article-content h2 a:hover, .article-content h3 a:hover, .article-content h4 a:hover, .article-content h5 a:hover {
  text-decoration: none;
  color: #80baff;
}

.article-content h1+h2, .article-content h1+h3, .article-content h2+h3 {
  margin-top: 20px;
}

.article-content li p {
  margin-bottom: .5rem;
}

.article-tag {
  padding-top: 20px;
  margin-bottom: 40px;
}

.article-tag a:hover {
  text-decoration: none;
}

.author-profile {
  padding: 40px 15px;
  margin: 40px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.author-profile .profile-content {
  text-align: left;
  font-size: 0.9rem;
}

.author-profile .profile-content p {
  margin-bottom: 0;
}

.author-profile img {
  width: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0;
}

.author-profile h3 {
  font-size: 1.3rem;
}

.author-profile h4 {
  font-size: 0.9rem;
  color: #999;
  line-height: 1.3rem;
}

.author-profile p {
  margin-top: 20px;
}

.btn-tag {
  color: white;
  background-color: #999;
  border-color: #999;
  margin-bottom: 5px;
}

.btn-tag:hover {
  color: white;
  background-color: #bbb;
  border-color: #bbb;
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.paginator .page-num:hover, .paginator .disabled:hover {
  background-color: white;
}

.paginator .disabled span {
  color: #aaa;
}

.paginator .page-num {
  cursor: auto!important;
  color: inherit;
}

.curated-post h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0c498e;
  margin-bottom: 1rem;
}

.curated-post a {
  font-weight: bold;
  color: #35313b;
  border: 1px solid #ccc;
}

.curated-post a:hover {
  text-decoration: none;
}

.curated-post a:hover .card-body {
  text-decoration: underline;
}

.curated-post img {
  margin: 0;
  min-height: 170px;
  max-height: 170px;
  object-fit: cover;
  width: 100%;
}

.curated-post .card-body {
  padding: 1rem 1.25rem;
  border-top: 1px solid #ddd;
}

.highlighttable {
  table-layout: fixed;
  width: 100%;
}

.highlighttable .linenos {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}

.highlighttable .code {
  display: inline-block;
  width: 90%;
}

.caption {
  display: table;
  margin-top: -5px;
  font-size: .85rem;
  color: #888;
}

a.caption {
  text-decoration: underline;
  color: #888;
  font-weight: normal;
}

a.caption:hover {
  color: #333;
  text-decoration: underline;
}

.footnote {
  color: #888;
}

.footnote a {
  font-weight: normal;
}

.footnote ol {
  padding-left: 1rem;
}

.footnote ol p {
  margin-bottom: .5rem;
}

.footnote hr {
  border-color: #36313b;
  margin-top: 3rem;
}

.footnote-ref::before {
  display: inline-block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  width: 10px;
  margin-left: -10px;
  visibility: hidden;
}

.footnote li::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  width: 10px;
  margin-left: -10px;
  visibility: hidden;
}

@media (min-width: 576px) {
  body {
    margin-bottom: 140px;
  }

  body:lang(ja) {
    margin-bottom: 135px;
  }

  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .navbar .navbar-nav .nav-link.btn-point {
    margin: 0;
    margin-left: 10px;
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    left: 10px;
  }

  .article-desc {
    text-align: left;
    margin-top: 0;
  }

  .content .article-header {
    padding: 52px 0 50px;
  }

  .content .article-header .article-category {
    font-size: 1.2rem;
  }

  .content .article-header .article-title {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }

  .content .article-header .article-info {
    font-size: 1rem;
  }

  .content .article-body { 
    padding: 50px 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .content .container {
    max-width: 850px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}