/** Base font for the whole site, overriding Bootstrap **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*

Main font : #3a3a3a;
Sub font : #6d6d6d;
Inverse font : #d2d2d2;
Main blue : #3f7cfc;
Background gray : #f3f3f3;

*/

.text-center {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 172px;
    color: #6d6d6d;
    font-family: 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    background-color: #f3f3f3;
}

h1, h2 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

a {
    color: #3f7cfc;
}

a:hover {
    text-decoration: none;
}

.non-sticky-footer {
    margin-bottom: 0;
}

.non-sticky-footer footer {
    position: initial;
}

.navbar-brand img {
    width: 100px;
    margin: 2px 0;
}

.navbar-brand span {
    color: #ddd;
    font-size: 1rem;
    margin-left: 6px;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 2rem;
}

.navbar-toggleable-xs {
  width: 100%;
}

.with-sidebar {
    background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, white 50%, white 100%);
}

main {
    padding-top: 57px;
    min-height: 100%;
}

main section {
    margin-top: 50px;
}

.content {
    background-color: white;
    border: 1px solid #ddd;
}

.with-sidebar .content {
    margin: 0;
    border: none;
}

.sidebar {
    padding-top: 70px;
    background-color: #f3f3f3;
    border-right: 1px solid #ddd;
    margin: 0;
}

.sidebar .sidebar-menu {
    margin-bottom: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    line-height: 2.3rem;
}

.sidebar ul li a {
    color: #6d6d6d;
}

.sidebar ul li a:hover {
    color: #222;
}

.sidebar h3 {
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #6d6d6d;
    padding-bottom: 10px;
}

.content-title {
    margin: 65px 20px -10px 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.content-title h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #3a3a3a;
}

article {
    padding: 70px 20px;
    border-bottom: 1px solid #ddd;
}

article img {
    max-width: 100%;
    margin: 15px 0;
}

article p {
    margin-bottom: 1.5rem;
}

article p:last-child {
    margin-bottom: 0;
}

.article-info {
    font-size: 1.1rem;
    font-weight: 500;
}

.article-title {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 15px;
    color: #35313b;
}

.article-title a {
    color: #35313b;
}

.article-title a:hover {
    color: #666;
}

.article-author {
    margin-bottom: 30px;
    line-height: 2rem;
}

.article-content h1, .article-content h2, .article-content h3 {
    color: #35313b;
    margin-top: 40px;
    margin-bottom: 15px;
}

.article-tag {
    padding-top: 20px;
}

.btn-tag {
    color: white;
    background-color: #999;
    border-color: #999;
    margin-bottom: 5px;
}

.btn-tag:hover {
    color: white;
    background-color: #bbb;
    border-color: #bbb;
}

.continue {
    color: #4e4e4e;
    font-weight: bold;
    text-decoration: underline;
}

.continue:hover {
    color: #666;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paginator .page-num:hover, .paginator .disabled:hover {
    background-color: white;
}

.paginator .disabled span {
    color: #aaa;
}

.pg {
    margin-top: 40px;
}

.pg h1 {
    color: #35313b;
    margin-bottom: 20px;
}

.pg ul {
    padding-left: 20px;
}

.pg dd {
    margin-bottom: 1.5rem;
}

footer {
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    background-color: #4f4f4f;
    width: 100%;
    color: #aaa;
    padding: 50px 0;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 767px){

    .with-sidebar {
        background: #f3f3f3;
    }

    .with-sidebar .content {
        margin-top: 50px;
        border: 1px solid #ddd;
    }

    .with-sidebar .sidebar {
        border: none;
    }

    .content-title {
        margin-top: 45px;
    }

    article:last-child {
        border-bottom: none;
    }
}

@media (max-width: 575px){

    ul.navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }

    .with-sidebar .content {
        margin-top: 0px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .content-title {
        margin: 0;
        padding-top: 45px;
    }

    article {
        padding: 50px 0;
    }

    .pg article {
        padding: 40px 0;
    }

    .pg-title {
        margin-bottom: 40px;
    }

    .article-title {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}