/** Base font for the whole site, overriding Bootstrap **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*

Main font : #3a3a3a;
Sub font : #6d6d6d;
Inverse font : #d2d2d2;
Main blue : #3f7cfc;
Background gray : #f3f3f3;

*/

.text-center {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 250px;
    color: #6d6d6d;
    font-family: 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    background-color: #f3f3f3;
}

h1, h2 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

a {
    color: #3f7cfc;
}

a:hover {
    text-decoration: none;
}

.navbar-brand img {
    width: 100px;
    margin: 2px 0;
}

.navbar-brand span {
    color: #ddd;
    font-size: 1rem;
    margin-left: 6px;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 2rem;
}

main {
    padding-top: 57px;
    min-height: 100%;
}

main section {
    margin-top: 50px;
}

.content {
    background-color: white;
    border: 1px solid #ddd;
}

.sidebar {
    margin-top: 60px;
}

.sidebar .sidebar-menu {
    margin-bottom: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    line-height: 2.3rem;
}

.sidebar ul li a {
    color: #6d6d6d;
}

.sidebar ul li a:hover {
    color: #222;
}

.sidebar h3 {
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #6d6d6d;
    padding-bottom: 10px;
}

.sidebar-menu:last-child h3 {
    border: none;
}

.content-title {
    margin: 45px 20px -10px 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.content-title h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

article {
    padding: 70px 20px;
    border-bottom: 1px solid #ddd;
}

article:last-child {
    border-bottom: none;
}

article img {
    max-width: 100%;
    margin: 15px 0;
}

article p {
    margin-bottom: 1.5rem;
}

article p:last-child {
    margin-bottom: 0;
}

.article-info {
    font-size: 1.1rem;
    font-weight: 500;
}

.article-title {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 15px;
    color: #35313b;
}

.article-title a {
    color: #35313b;
}

.article-title a:hover {
    color: #666;
}

.article-author {
    margin-bottom: 30px;
    line-height: 2rem;
}

.article-content h1, .article-content h2, .article-content h3 {
    color: #35313b;
    margin-top: 40px;
    margin-bottom: 15px;
}

.article-tag {
    padding-top: 20px;
}

.btn-tag {
    color: white;
    background-color: #999;
    border-color: #999;
}

.btn-tag:hover {
    color: white;
    background-color: #bbb;
    border-color: #bbb;
}

.continue {
    color: #4e4e4e;
    font-weight: bold;
    text-decoration: underline;
}

.continue:hover {
    color: #666;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paginator .page-num:hover, .paginator .disabled:hover {
    background-color: white;
}

.paginator .disabled span {
    color: #aaa;
}

.pg {
    margin-top: 40px;
}

.pg h1 {
    color: #35313b;
    margin-bottom: 20px;
}

.pg ul {
    padding-left: 20px;
}

footer {
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    background-color: #4f4f4f;
    width: 100%;
    color: #aaa;
    padding: 50px 0;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 543px){
    .content {
        margin-top: 0;
    }

    article {
        padding: 70px 0;
    }

    .article-title {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}