{% extends "base.html" %}

{% block content %}
<main class="container pg">
    <h1>Archives</h1>
    <dl>
        {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
    </dl>
</main>
{% endblock %}
