{% extends "base.html" %}

{% block hreflang %}
    <link rel="alternate" href="https://blog.xoxzo.com/archives" hreflang="x-default"/>
    <link rel="alternate" href="https://blog.xoxzo.com/en/archives" hreflang="en"/>
    <link rel="alternate" href="https://blog.xoxzo.com/ja/archives" hreflang="ja"/>
{% endblock %}

{% block content %}
<main class="container pg">
    <h1>{% trans %}Archives{% endtrans %}</h1>
    <dl>
        {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
    </dl>
</main>
{% endblock %}
