{% extends "base.html" %}

{% block head %}
  {{ super() }}

  {% for tag in article.tags %}
  <meta name="tags" content="{{ tag }}">
  {% endfor %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title }}">
  <meta property="og:description" content="">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:site_name" content="{{ SITENAME }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@xoxzotelephony">
  <meta name="twitter:title" content="{{ article.title }}">
  <meta name="twitter:description" content="">
{% endblock %}

{% block footer_attr %}class="non-sticky-footer"{% endblock %}

{% block content %}
<div class="with-sidebar">
    <main class="container">
        <div class="row">
            <section class="content col-md-8 col-lg-9 float-md-right">
                <div class="container">
                    <article>
                        <h2 class="article-info">
                            {{ article.locale_date }} /
                            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                        </h2>
                        <h1 class="article-title">{{ article.title }}</h1>
                        <p class="article-author">By
                            {% for author in article.authors %}
                            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            <br>
                            {% import 'translations.html' as translations with context %}
                            {{ translations.translations_for(article) }}
                            {% endfor %}
                        </p>
                        <hr>
                        <div class="article-content">
                          {{ article.content }}
                        </div>
                        {% if article.tags %}
                        <div class="article-tag">
                            {% for tag in article.tags %}
                            <a href="{{ SITEURL }}/{{ tag.url }}">
                                <span class="btn btn-tag btn-sm">{{ tag }}</span>
                            </a>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </article>
                </div>
            </section>

            {% include 'sidebar.html' %}

        </div>
    </main>
</div>
{% endblock %}
