{% extends "base.html" %}

{% block hreflang %}
    <link rel="alternate" href="https://blog.xoxzo.com/authors" hreflang="x-default"/>
    <link rel="alternate" href="https://blog.xoxzo.com/en/authors" hreflang="en"/>
    <link rel="alternate" href="https://blog.xoxzo.com/ja/authors" hreflang="ja"/>
{% endblock %}

{% block title %}{{ SITENAME }} - {% trans %}Authors{% endtrans %}{% endblock %}

{% block content %}
<main class="container pg">
    <h1>{% trans %}Authors{% endtrans %}</h1>
    <ul>
        {%- for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
