{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
<main class="container pg">
    <h1>Authors</h1>
    <ul>
        {%- for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
