<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    {% endblock %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_16x16_favicon.png">

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body {% block footer_attr %}{% endblock %}>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="{{ SITEURL }}">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/xoxzo_navbar_logo_w_trans.png">
                <span>BLOG</span>
            </a>
            <button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNav" aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-xs" id="collapsingNav">
                <ul class="nav navbar-nav float-xs-left float-sm-right">
                <!--
                    <li class="nav-item"><a class="nav-link {% if page %}active{% endif %}"
                    href="{{ SITEURL }}/pages/we-are-xoxzo/">Who We Are</a></li>
                -->
                    <li class="nav-item">
                    <a class="nav-link" href="https://info.xoxzo.com/en/">Who We Are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/xoxzotelephony">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}

    <footer>
        <div class="container text-center">
            <p>© 2016 Xoxzo Inc. All rights reserved.</p>
            <p>Powered by <a href="http://getpelican.com/">Pelican</a></p>
        </div>
    </footer>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tether.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.matchHeight.js"></script>

    <script type="text/javascript">
        $(function() {
            $('.with-sidebar section').matchHeight();
        });
    </script>
</body>
</html>
