{% if DEFAULT_LANG == "en" %}
<div class="curated-post">
  <div class="card-deck">
    <a href="{{ SITEURL }}/2018/07/24/history-of-1g/" class="card">
      <img src="{{ SITEURL + '/images/1g03.gif' | thumbnail('500x_') }}" class="card-img-top" alt="A brief history of 1G mobile communication technology">
      <div class="card-body">
        <p class="card-text">A brief history of 1G mobile communication technology</p>
      </div>
    </a>

    <a href="{{ SITEURL }}/2018/09/25/history-of-sms/" class="card">
      <img src="{{ SITEURL + '/images/smshistory01.jpg' | thumbnail('500x_') }}" class="card-img-top" alt="A brief history of SMS technology">
      <div class="card-body">
        <p class="card-text">A brief history of SMS technology</p>
      </div>
    </a>

    <a href="{{ SITEURL }}/2018/12/19/japanese-typography-for-web-design/" class="card">
      <img src="{{ SITEURL + '/images/web-typography.jpg' | thumbnail('500x_') }}" class="card-img-top" alt="Basic Japanese typography tips for web design">
      <div class="card-body">
        <p class="card-text">Basic Japanese typography tips for web design</p>
      </div>
    </a>
  </div>
</div>

{% else %}
<div class="curated-post">
  <div class="card-deck">
    <a href="{{ SITEURL }}/2017/12/25/sms-manners/" class="card">
      <img src="{{ SITEURL + '/images/sms-manners.jpg' | thumbnail('500x_') }}" class="card-img-top" alt="SMS送信におけるマナーって？">
      <div class="card-body">
        <p class="card-text">SMS送信におけるマナーって？</p>
      </div>
    </a>

    <a href="{{ SITEURL }}/2017/12/06/what-is-a2p/" class="card">
      <img src="{{ SITEURL + '/images/whatisa2p.jpg' | thumbnail('500x_') }}" class="card-img-top" alt="P2PやA2Pって、何のこと？">
      <div class="card-body">
        <p class="card-text">P2PやA2Pって、何のこと？</p>
      </div>
    </a>

    <a href="{{ SITEURL }}/2017/06/19/about-python-import/" class="card">
      <img src="{{ SITEURL + '/images/python-import.jpg' | thumbnail('500x_') }}" class="card-img-top" alt="Pythonのimportについて">
      <div class="card-body">
        <p class="card-text">Pythonのimportについて</p>
      </div>
    </a>
  </div>
</div>
{% endif %}