<div class="curated-post">
  <div class="card-deck">

    {% set featured_articles = series.get('featured-' + DEFAULT_LANG, []) %}
    {% for article in featured_articles[:3] %}
      <a href="{{ SITEURL }}/{{ article.url }}" class="card">
        <img src="{{ SITEURL + '/' + article.thumbnail | thumbnail('500x_') }}" class="card-img-top" alt="{{ article.title }}">
        <div class="card-body">
          <p class="card-text">{{ article.title }}</p>
        </div>
      </a>
    {% endfor %}

  </div>
</div>
