{% extends "base.html" %}

{% block content %}
<main>
  <section class="bg-mid bd-gray">
    <div class="container featured pt-4 pb-4">
      <h2 class="mb-0">{% trans %}Archives for{% endtrans %} {{ period | reverse | join(' ') }}</h2>
    </div>
  </section>

  <section class="container pt-4 pb-4">
    {% for article in dates %}
    <b>{{ article.locale_date }}</b>
    <p>
      <a href="{{ SITEURL }}/{{ article.url }}" class="link-underline">{{ article.title }}</a>
    </p>
    {% endfor %}
  </section>
</main>
{% endblock %}