<section class="sidebar col-md-4 col-lg-3">
    <div class="container">
        <div class="sidebar-menu">
            <h3>CATEGORIES</h3>
            <ul>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Engineering</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Internal Activities</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Activities</a></li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <h3>DATES</h3>
            <ul>
                <li>November 2016</li>
                <li>October 2016</li>
                <li>September 2016</li>
                <li>August 2016</li>
                <li>July 2016</li>
                <li>May 2016</li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <h3>SEARCH</h3>
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</section>