{% extends "index.html" %}

{% block hreflang %}
  <link rel="alternate" href="https://blog.xoxzo.com/{{ tag.url }}" hreflang="x-default"/>
  <link rel="alternate" href="https://blog.xoxzo.com/en/{{ tag.url }}" hreflang="en"/>
  <link rel="alternate" href="https://blog.xoxzo.com/ja/{{ tag.url }}" hreflang="ja"/>
{% endblock %}

{% block featured_display %}{% endblock %}
{% block content_title %}
<h2 class="mb-0">{% trans %}Articles{% endtrans %} / {{ tag }}</h2>
{% endblock %}

{% block curated %}{% endblock %}
{% block footer_category %}{% endblock %}