{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aman.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Abdul Rahman Ibrahim</h3>
      <h4>Engineer</h4>
      <p>Originally joined August 2014, rejoined August 2019. Previously from the VFX industry and worked on Hollywood movies as a Pipeline Technical Director. Took a 2 year hiatus from Xoxzo exploring blockchain technology in general, specializing in the Ethereum network, dabbling in Bitcoin and interacting with them using Python.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aman.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>アブドゥル・ラフマン・イブラヒム</h3>
      <h4>エンジニア、開発担当</h4>
      <p>2014年8月初入社。2019年8月再入社。前職はVFX業界でハリウッド映画制作にパイプライン技術指揮者として携わる。2年間Xoxzoを離れて、一般ブロックチェーン技術を探究したりイーサリアムネットワークでは専門的に、ビットコインにも手を出してみたり、パイソンを使って関わっていた。</p>
    </div>
  </div>
</div>
{% endif %}