{% if DEFAULT_LANG == "en" %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aman.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>Abdul Rahman Ibrahim</h3>
  <h4>Engineer</h4>
  <p>Joined August 2014. Previously from the VFX industry and worked on Hollywood movies. Utilized Python, Perl and various other proprietary scripts to design, arrange and maintain the production pipeline which heavily involves automating workflows, data conversion, process scheduling and machine rendering management in a Linux environment.</p>
</div>
{% else %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aman.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>アブドゥル・ラフマン・イブラヒム</h3>
  <h4>エンジニア、開発担当</h4>
  <p>2014年8月に入社。入社前はVFX業界にて開発を行いHollywood映画を手がける。PythonやPerlの他プロプライエタリ・スクリプトを用いて自動ワークフローシステム、データ変換とプロセス・スケジューリングに必要な制作パイプラインの設計、アレンジメントとメンテナンスをLinux環境にて行っていました。</p>
</div>
{% endif %}