{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aisin.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Ai Sin Chan</h3>
      <h4>Marketing</h4>
      <p>Joined April 2018. Trained and grew with telco engineers in 16 countries spanned over 4 continents, and written more than 10 manuals in the process. Spent a decade specializing in mobile technology. Crafts her creation with passion.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aisin.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>アイ・シン・チャン</h3>
      <h4>マーケティング</h4>
      <p>2018年4月入社。Telco Engineers にて4大陸16カ国にわたり、10以上の取扱説明書を手がけて熟練の技を磨いた。10年以上の携帯電話技術に特化した経験をもつ。情熱を持って創造する。</p>
    </div>
  </div>
</div>
{% endif %}
