{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aiko.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Aiko Yokoyama</h3>
      <h4>Customer Success and Operations</h4>
      <p>Joined January 2014. Experienced as a clerk in Foreign Trading company, started and maintained an online supplement store. Lived in overseas for 15 years. Looking forward to communicating our customers with the broad view based on those experience.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/aiko.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>横山 愛子</h3>
      <h4>顧客支援及び運営担当</h4>
      <p>2014年1月に入社。関西外国語大学卒業後、貿易商社での勤務、オンラインストアの立ち上げ、運営、15年に亘る海外在住経験あり。幅広い視野を持って、お客様とのコミュニケーションに努めたいと思っております。</p>
    </div>
  </div>
</div>
{% endif %}