{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/siang.jpg" alt="Choon Siang Lai">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Choon Siang Lai</h3>
      <h4>Engineering</h4>
      <p>Joined February 2021. Previously worked mostly in data processing and analytic projects. Interested in Machine Learning and Functional Programming. Loves learning new things and writing stories.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/siang.jpg" alt="ライ・チュン・シャン">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>ライ・チュン・シャン</h3>
      <h4>エンジニアリング</h4>
      <p>2021年２月入社。前職では主に、データプロセスや分析のプロジェクトに関わる。機械学習や関数プログラミングに興味あり。新しいことを学んだり、お話を書くのが好き。</p>
    </div>
  </div>
</div>
{% endif %}