{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fathur.jpg" alt="Fathur Rahman">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Fathur Rahman</h3>
      <h4>Engineering</h4>
      <p>Joined April 2020. Experienced web developer with years of experience building enterprise system. Currently enjoys front end development with Vue and React. Loves building products that solve real problems.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fathur.jpg" alt="ファサー・ラーマン">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>ファサー・ラーマン</h3>
      <h4>エンジニアリング</h4>
      <p>2020年4月入社。企業向けシステムの構築に何年も携わった、経験豊富なウェブ開発者。現在は VueとReact を使ったフロントエンドの開発を楽しんでいる。真の問題を解決するような製品の構築を愛す。</p>
    </div>
  </div>
</div>
{% endif %}