{% if DEFAULT_LANG == "en" %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/gerald.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>Geraldo Figueras</h3>
  <h4>Digital Marketing Intern</h4>
  <p>Joined July 2017. Major in Marketing. Previously worked developing communication and marketing campaigns focused on content production. Loves creativity and to always balance style with function.</p>
</div>
{% else %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/gerald.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>ジェラルド・フィギュラス</h3>
  <h4>デジタル・マーケティング・インターン</h4>
  <p>2017年7月入社。マーケティング担当。前職は、コンテンツ制作に的を絞った、コミュニケーションやマーケティングキャンペーンの開発。機能性を兼ね備えたスタイルとものづくりを愛す。</p>
</div>
{% endif %}