{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ceo.png" alt="CEO">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Hiroshi Gakiya & Alex Westfahl</h3>
      <h4>CEO</h4>
      <p></p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ceo.png" alt="代表取締役">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>我喜屋　浩・ウェストファル アレックス</h3>
      <h4>代表取締役</h4>
      <p>共同代表</p>
    </div>
  </div>
</div>
{% endif %}