{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/hyejeong.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Hyejeong Park</h3>
      <h4>User Experience</h4>
      <p>Joined November 2016. Major in Visual Design at Seoul National University. Previously worked as an UI designer for iOS app. Interested in both design and web development. Loves beautiful UI, clean Web, and Python/Django.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/hyejeong.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>朴 慧晶</h3>
      <h4>ユーザー·エクスペリエンス</h4>
      <p>2016年11月入社。ソウル国立大学にて、ビジュアル・デザインを専攻。前職ではiOSアプリのUIデザインを手がける。デザインにも、WEB開発にも興味あり。美しいUIと整然としたWEB、そしてPythonとDjangoを愛す。</p>
    </div>
  </div>
</div>
{% endif %}
