{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/iqbal.jpg" alt="Iqbal Abdullah">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Iqbal Abdullah</h3>
      <h4>COO</h4>
      <p><b>No longer with Xoxzo</b>Iqbal came to Japan in 1997, and graduated from the Engineering faculty of Saga University. After working through companies like Yahoo! Japan and Amazon, Iqbal founded MARIMORE Inc. in 2007 which was the previous version of Xoxzo Inc. CEO of LaLoka Labs LLC.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/iqbal.jpg" alt="イクバル・アバドゥラ">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>イクバル・アバドゥラ</h3>
      <h4>取締役</h4>
      <p><b> (現在は在籍していません)</b>1997年に来日。佐賀大学の理工学部を卒業しヤフー株式会社、アマゾン株式会社を経て2007年に株式会社Xoxzoの前身である株式会社MARIMOREを設立。 PyCon JPにもボランティアとして活動しています。合同会社LaLoka Labsの代表。</p>
    </div>
  </div>
</div>
{% endif %}
