{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jenna.jpg" alt="Jenna Kassim">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Jenna Kassim</h3>
      <h4>Engineer Evangelist</h4>
      <p><b>No longer with Xoxzo</b>Joined July 2018. Major in Electrical & Electronic Engineering from the University of Nottingham. Previously worked for a Harddisk drives manufacturer with exposure to languages such as C++, C#, Lua, Matlab, Visual Basic but just couldn't get enough of Python. Loves photography, nature and tinkering with new technologies.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jenna.jpg" alt="ジェナ・カシム">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>ジェナ・カシム</h3>
      <h4>エンジニア・エバンジェリスト</h4>
      <p><b> (現在は在籍していません)</b>2018年7月入社。ノッティンガム大学にて電気および電気工学専攻。前職では、ハードドライブ製作会社にて C++, C#, Lua, Matlab, Visual Basicを使っていたが、Pythonには十分関わることができなかった。写真、自然、新テクノロジーを考え出すのが好き。</p>
    </div>
  </div>
</div>
{% endif %}