{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jocelyn.jpg" alt="Jocelyn ter Morsche">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Jocelyn ter Morsche</h3>
      <h4>Marketing</h4>
      <p><b>No longer with Xoxzo</b>Joined August 2020. Majored in Japan Studies at Leiden University in the Netherlands and previously worked as a social media marketer in Tokyo. Describes her marketing approach as data-driven, yet creative.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jocelyn.jpg" alt="テルモルセ・ジョセリン">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>テルモルセ・ジョセリン</h3>
      <h4>マーケティング</h4>
      <p><b> (現在は在籍していません)</b>2020年8月入社。オランダ・ライデン大学にて、日本語及び日本文化を専攻。前職は東京でソーシャルメディアマーケティング担当。マーケティングに関しては、独創的な考え方とともにデータ分析も重要と考えている。</p>
    </div>
  </div>
</div>
{% endif %}
