{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/josef.jpg" alt="Josef Monje">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Josef Monje</h3>
      <h4>CTO</h4>
      <p>Joined June 2018. Obtained his Master's degree in Data Science from Asian Institute of Management and Bachelor's degree in Psychology from Ateneo De Manila University. Programming was a longtime hobby until he decided to pursue it professionally. He enjoys using Python, Raspberry Pies and Machine Learning.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/josef.jpg" alt="ホセ・モンジェ">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>ホセ・モンジェ</h3>
      <h4>最高技術責任者</h4>
      <p>2018年6月入社。アジア経営大学院でデータサイエンスの修士号、アテネオ・デ・マニラ大学で心理学の学士号を取得。 プログラミングは、プロになることを決意するまで、長年の趣味でした。 彼は Python、Raspberry Pies、機械学習を楽しんでいます。</p>
    </div>
  </div>
</div>
{% endif %}
