{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jules.jpg" alt="Jules Capacillo">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Jules Capacillo</h3>
      <h4>Engineering</h4>
      <p>Joined May 2020, Software Engineer. He puts a premium on communication because he believes that it makes value formation easier. Loves building and tinkering with APIs.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jules.jpg" alt="ジュールズ・キャパシロ">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>ジュールズ・キャパシロ</h3>
      <h4>エンジニアリング</h4>
      <p>2020年5月入社。ソフトウェア・エンジニア。価値を形にしやすいので、コミュニケーションには特別力を入れています。APIを応用した組み立てが好き。</p>
    </div>
  </div>
</div>
{% endif %}