{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/kamal.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Kamal Mustafa</h3>
      <h4>CTO</h4>
      <p>Joined December 2010. Have been doing web development since early 2000 with classic ASP, then moved on to PHP and finally involved with Python/Django since joining Xoxzo Inc. During his spare time Kamal hacks various open source projects at github.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/kamal.jpg">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>カマル・ムスタファ</h3>
      <h4>最高技術責任者</h4>
      <p>2010年12月に入社。2000年からASPのウェブ開発をはじめ、PHPなどの開発を経験し当社に入ってからDjango/Pythonの開発をメインにしています。仕事以外では、githubにていろんなオープンソースプロジェクトをハッキングしています。</p>
    </div>
  </div>
</div>
{% endif %}