{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/shaurya.jpg" alt="Shauryadeep Chaudhuri">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Shauryadeep Chaudhuri</h3>
      <h4>Engineer</h4>
      <p>Joined July 2017. Major in Computer Science Engineering from West Bengal University of Technology. Has worked across different development stacks in the past. Loves the aesthetics of Python as a programming language. An avid traveler, tries to travel as much as possible.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/shaurya.jpg" alt="ショウリヤディープ・チャウドハリ">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>ショウリヤディープ・チャウドハリ</h3>
      <h4>エンジニア、開発担当</h4>
      <p>2017年7月入社。西ベンガル工業大学卒、コンピュータ・サイエンス・エンジニアリング専攻。これまで、様々な分野の開発に取り組んできた。プログラミング言語として、パイソンの持つ美学を愛す。大の旅行好きで、暇さえあれば旅に出ている。</p>
    </div>
  </div>
</div>
{% endif %}