{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/surya.jpg" alt="Surya Banerjee">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>Surya Banerjee</h3>
      <h4>Engineer</h4>
      <p>Joined October 2018. Loves technology. Spends most of his time tinkering with new ideas and loves to learn new skills. Big time foodie and likes pondering over the future of humanity.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-sm-4 text-left text-sm-center mb-3">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/surya.jpg" alt="スーリヤ・バネルジー">
    </div>
    <div class="col-sm-8 profile-content">
      <h3>スーリヤ・バネルジー</h3>
      <h4>エンジニア、開発担当</h4>
      <p>2018年入社。テクノロジーを愛す。ひらめきを実行に移しては新技術を学ぶことに喜びを感じ、多くの時間を費やしている。料理にも情熱を注ぎ、人類の未来に遠く思いを馳せるのも好き。</p>
    </div>
  </div>
</div>
{% endif %} 
