{% if DEFAULT_LANG == "en" %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/surya.jpg" alt="Surya Banerjee">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>Surya Banerjee</h3>
      <h4>Engineer</h4>
      <p>Joined October 2018. Engineering newbie. Perpetual learner with interests ranging from technology to food. Loves to meet new people and understand cultures.</p>
    </div>
  </div>
</div>
{% else %}
<div class="author-profile container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/surya.jpg" alt="スーリヤ・バネルジー">
    </div>
    <div class="col-lg-8 profile-content">
      <h3>スーリヤ・バネルジー</h3>
      <h4>エンジニア、開発担当</h4>
      <p>2018年10月入社。エンジニアリング初心者。 技術から食品に至るまで関心のある永続的な学習者。 新しい人に会い、文化を理解するのが大好きです。</p>
    </div>
  </div>
</div>
{% endif %} 