{% if DEFAULT_LANG == "en" %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/zaki.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>Zaki Akhmad</h3>
  <h4>Engineer</h4>
  <p>Joined October 2014. Used to be a breaker and now learns how to be a builder, Zaki has long journey in application security. And now he's trying to practice the theory of building a secure application.</p>
</div>
{% else %}
<div class="col-lg-4">
  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/zaki.jpg">
</div>
<div class="col-lg-8 profile-content">
  <h3>ザキ・アクマド</h3>
  <h4>エンジニア、開発担当</h4>
  <p>2014年10月に入社。セキュリティについては、長い道のりを歩んできたので、以前は作ることよりも壊すことが得意のザキでしたが、現在は、セキュアなアプリケーションを作る理論を実践中。</p>
</div>
{% endif %}